################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClientApp/obj/Debug
/ClientApp/.vs/ClientApp/v17/.suo
/ClientApp/.vs/ClientApp/FileContentIndex/4e3eb0d9-66a4-4ac9-8007-b45064b7890b.vsidx
/ClientApp/.vs/ClientApp/FileContentIndex/d1ece411-7c54-4d53-961f-ce784ab36c87.vsidx
