################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientApp/.vs/ClientApp
/ClientApp/.vscode
/ClientApp/obj/Debug
